body {
    margin: 0;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: #2C3333;
    color: #E7F6F2;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

/* form */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #A5C9CA;
    color: #2C3333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #395B64;
}

.journals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}

.journal-container {
    background-color: #E7F6F2;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
    color: #2C3333;
    border-radius: 2%;
}

.entry {
    padding: 2% 5%;
}

.entry a {
    text-decoration: none;
    color: #2C3333;
}

.entry a:hover {
    color: #395B64
}

/* footer */

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer-paragraph {
    padding: 5% 5% 5% 5%;
}

