body {
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 1.5;
    background-color: #2C3333;
    color: #E7F6F2;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
}

/* header */
.nav-links {
    display: block;
    width: 150px;
    color: #E7F6F2;
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
}

.nav-links:hover {
    background-color: #E7F6F2;
    color: #2C3333;
}

#header-container {
    justify-content: space-between;
}

.logo-icon {
   margin-top: 1%;
}

.logo-icon:hover {
    color: #A5C9CA;
}

/* main */

.journals {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.journal-container {
    background-color: #E7F6F2;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
    color: #2C3333;
    border-radius: 2%;
}

.entry {
    padding: 2% 5%;
}

.entry-title, .comment-link {
    color: #2C3333;
}

.read-more {
    color: #395B64;
}

.read-more:hover {
    color: #2C3333;
}

span {
    font-size: 0.8rem;
}

.entry a:hover {
    color: #395B64;
}

.entry-interactions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.emoji-divs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.emoji-divs:hover {
    cursor: pointer;
}

.comment:hover {
    background-color: rgb(165, 201, 202, 0.4);
    color: rgb(57, 91, 100);
}

.like:hover {
    background-color: rgb(60, 207, 78, 0.4);
    color: rgb(26, 77, 46);
}

.heart:hover {
    background-color: rgb(178, 80, 104, 0.4);
    color: rgb(119, 67, 96)
}

.hate:hover {
    background-color: rgb(235, 71, 71, 0.4);
    color: rgb(99, 6, 6);
}

/* footer */

.footer-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* post-page */

.form-container {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button] {
    width: 40%;
    background-color: #A5C9CA;
    color: #2C3333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
}

input[type=button]:hover {
    background-color: #395B64;
}

input[type=submit] {
    width: 40%;
    background-color: #A5C9CA;
    color: #2C3333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
}

input[type=submit]:hover {
    background-color: #395B64;
}

.button-div {
    display: flex;
    justify-content: space-evenly;
}

/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    color: black;
    background-color: #2C3333;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #A5C9CA; */
    border-radius: 1%;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .modal-form {
    color: #A5C9CA;
    width: 90%;
    display: flex;
    padding: 2px;
    border: 1px solid #E7F6F2;
    border-radius: 5px;
  }

  #search {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }

  #search::placeholder {
    color: #A5C9CA;
  }

  #btnSearch {
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent;
    cursor: pointer;
    opacity: 0.7;
  }

  .modalSearchIcon {
    color: #A5C9CA;
  }

  #btnSearch:hover {
    opacity: 1;
  }
  
  #search:focus,
  #btnSearch:focus {
    box-shadow: 0 0 3px 0 #E7F6F2;
    border-color: #E7F6F2;
    outline: none;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The gifs container */

  .modal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gif-divs {
    /* display: none; */
    height: 200px;
    width: 50%;
  }

  .gif-size {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
